/* Style for the main title 
    Name: Elisheva Fisher*/
#title{
    color: darkcyan;
    font-size: 50px;
    padding: 1px;
    border-style: solid;
    text-align: center;
}
/* Style for the grid container*/
#grid-container{
    display: grid;/* Defines the container as a grid layout */
    grid-template-columns: 350px 350px;/* Sets up two columns */
    grid-template-rows: 200px 200px;/* Sets up two rows */
    column-gap: 40px;
    row-gap: 40px;
    justify-content: center;
}
/* Style for the grid item representing London */
#grid-london{
    background-color: darkgray;
}
/* Style for the grid item representing Alaska */
#grid-alaska{
    background-color:rosybrown;   
}
/* Style for the grid item representing New York */
#grid-new-york{
    background-color: powderblue;
}
/* Style for the grid item representing Eilat */
#grid-eilat{
    background-color: darkseagreen;
}
/* Style for the table within the grid items */
table{
    width: 100%;
    padding-bottom: 10px;
}
th,td{
    padding: 7px;
    text-align: center;
}
h2{
    margin-bottom: 5px;
    padding-right: 10px;
}
h4{
    margin-top: 0;
    padding-right: 10px;
}
/* Style for the weather image */
.Weather-image{
    width: 50px;
    height: auto;
    margin-right: 20px;
    align-self: flex-start;
}
/* Style for each grid item */
.grid-item{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    padding: 10px;
}
/* Style for the info section within each grid item */
.info{
    flex: 1;
}